:root {
    /* Spacing */
    --tiny-gap: .3rem;
    --sm-gap: 1rem;
    --md-gap: 2rem;
    --lg-gap: 4rem;
    --sm-width: 15ch;
    --md-width: 45ch;
    --lg-width: 65ch;
    /* Colors */
    --background: #f4eee8;
    --banner: #64bfa4;
    --highlight: #eada4f;
    --outline: #ec809e;
    --accent: #d2386c;
    --preview: #3cadd4;
    --text: rgba(0, 0, 0, .85);
    /* Animation Timings */
    --inital-delay: .3s;
    --initial-fade: 2.5s;
    --dazzling-fade: .9s;
}

body {
    background-color: var(--background);
    color: var(--text);
}

.slim-container {
    max-width: var(--md-width);
}

.grid {
    display: grid;
}

.sm-gap {
    gap: var(--sm-gap);
}

.md-gap {
    gap: var(--md-gap);
}

.grid-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.wide-icon {
    width: var(--sm-width);
    margin: var(--sm-gap);
}

.header-underline {
    width: 80%;
    margin: auto;
}

.start-invis {
    opacity: 0;
}

.fade-in {
    animation: fade-in ease-in;
    animation-fill-mode: forwards;
}

.fast-speed {
    animation-duration: var(--initial-fade);
    animation-delay: var(--inital-delay);
}

.medium-speed {
    animation-duration: var(--initial-fade);
    animation-delay: calc(var(--initial-fade)*.7);
}

.slow-speed-build {
    animation-duration: var(--dazzling-fade);
    animation-delay: calc(var(--initial-fade)*1.5);
    color: var(--accent);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-color {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.full-width {
    width: 100%;
}

.color-bar {
    fill: var(--banner);
    position: absolute;
    top: 3rem;
}

.underline-squiggle {
    fill: var(--accent);
    stroke: var(--text);
    stroke-width: 1px;
    max-width: 80%;
    margin: auto;
}

.background {
    z-index: -1;
}

.highlight {
    color: var(--highlight);
    -webkit-text-stroke: 1px var(--outline);
    text-stroke: 1px var(--outline);
}

.text-left {
    text-align: left;
}

.md-contain {
    max-width: var(--md-width);
    margin: auto;
}

.sm-padding {
    padding: var(--sm-gap);
}

.md-padding {
    margin: var(--sm-gap);
}

.preview-item {
    background-color: var(--preview);
    border-radius: var(--tiny-gap);
    box-shadow: .3rem .3rem var(--outline);
}

.preview-item a:hover h6 {
    text-decoration: underline;
}

.preview-item a:hover .preview-more {
    text-decoration: underline;
}

.preview-item a {
    text-decoration: none;
    color: var(--text);
}

.casual-border {
    border: 2px solid var(--text);
}

.preview-title {
    margin-top: 0;
    margin-bottom: var(--md-gap);
    color: var(--text);
}

.preview-summary {
    color: var(--text);
    text-decoration: none;
}

.preview-more {
    margin-top: var(--sm-gap);
    font-size: smaller;
}

@media screen and (min-width: 640px) {
    .grid-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* Probably generally useful */

.justify-items-center {
    justify-items: center;
}

.auto {
    margin: auto;
}

.lg-padding {
    padding: var(--lg-gap) 
}

.md-contain {
    max-width: var(--md-width);
    margin: auto;
}

.sm-padding {
    padding: var(--sm-gap);
}

.md-padding {
    margin: var(--sm-gap);
}
