<footer>
    <div class="container slim-container grid sm-gap grid-2">
        <a href="/blog" class="footer-link" aria-label="Home">
            <span class="blog-header-link">
                Blog
            </span>
        </a>
        <a href="/about" class="footer-link" aria-label="Home">
            <span class="about-header-link">
                About
            </span>
        </a>
        <a href="/blog/index.xml" class="footer-link" aria-label="Home">
            <span class="about-header-link">
                RSS
            </span>
        </a>
        <a href="/favorites" class="footer-link" aria-label="Home">
            <span class="about-header-link">
                Favorites
            </span>
        </a>
    </div>
</footer>